html, body {
  padding: 0;
}
  #fakeVideo, canvas {
    display: none;
  }
  #imageSilder {
    height: 100px;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
  }
    #leftContainer {
      overflow: hidden;
      display: inline-block;
      /*border: 1px solid red;*/
      height: 90px;
      min-width: 100px;
      max-width: 20%;
      /*width: 100px;*/
      opacity: 0.5;
    }
    #rightContainer {
      overflow: hidden;
      display: inline-block;
      /*border: 1px solid red;*/
      height: 90px;
      min-width: 100px;
      max-width: 20%;
      opacity: 0.5;
    }
    #resizableContainer {
      display: inline-block;
      border: 5px solid blue;
      border-radius: 5px;
      height: 100px;
      width: 805px;
      z-index: 99;

      max-width: 60%;
      overflow: hidden;
    }
      img {
        display: inline-block;
        height: 100px;
        width: 100px;
        max-width: 100%;
      }